*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;                                     
}

.container{
    width: 1200px;
    margin: 0 auto;
}

header{

    .head{
        display: flex;
        justify-content: center;
        gap: 100px;
    }
    .logo{
        margin-top: 10px;
    }
    ul{
        display: flex;
        gap: 30px;
        margin-top: 30px;
        a{
            text-decoration: none;
            color: black;
            font-size: 16px;
            font-weight: 500;
        }
        li{
            list-style-type: none;
        }
    }
    .number{
        display: flex;
        margin-top: 30px;
        gap: 6px;
        p{
            margin-top: 3px;
            font-weight: 700;
        }

    }
    .info{
        display: flex;
        gap: 30px;
    }
    .language{
        display: flex;
        margin-top: 32px;
        gap: 6px;
        p{
            font-weight: 700;
        }
    }
    .login{
        margin-top: 20px;
        button{
            display: flex;
            background-color: #FFA800;
            border: none;
            width: 140px;
            height: 35px;
            border-radius: 25px;
            a{
                margin-top: 7px;
                margin-left: 15px;
                font-size: 18px;
                text-decoration: none;
                font-weight: 500;
                color: white;
                text-transform: uppercase;
            }
            img{
                margin-top: 4px;
                margin-left: 6px;
            }
        }
    }
}

.main{
    background-color: #B0CC0D;
    border-radius: 55px;
    margin-top: 50px;
    display: flex;
    height: 450px;
    img{
        margin-top: -65px;
        // padding-left: 100px;
        margin-left: -90px;

    }
    .info{
        padding-left: 130px;
        padding-top: 50px;
        h2{
            font-size: 65px;
            line-height: 60px;
            text-transform: uppercase;
            color: white;
        }
        p{
            font-size: 24px;
            padding-top: 40px;
        }
        button{
            background-color: #FFA800;
            border: none;
            width: 200px;
            height: 50px;
            color: white;
            font-size: 18px;
            border-radius: 25px;
            margin-top: 40px;
            font-weight: 600;
        }
    }
    
}

.menu{
    margin-top: 70px;
    h2{
        font-size: 32px;
        margin-bottom: 15px;
    }
    .week{
        display: flex;
        gap: 15px;
        a{
            color: black;
            text-decoration: none;
            background-color: #DEDEDE;
            padding-top: 10px;
            width: 120px;
            text-align: center;
            height: 30px;
            border-radius: 12px;
            font-size: 14px;
            font-weight: 500;
        }
    }
    .food{
        background-color: #B0CC0D ;
        margin-top: 30px;
        margin-bottom: 50px;
        padding-bottom: 50px;
        border-radius: 20px;
        .food-menu{
            display: flex;
            padding-bottom: 20px;
            gap: 20px;
            padding-top: 20px;
            justify-content: center;
            padding-top: 60px;
            .item{
                background-color: white;
                width: 220px;
                border-radius: 25px;
                padding: 10px;
                img{
            
                }
                .info{
                padding: 10px;
                h3{
                    color: #B0CC0D;
                    font-weight: 500;
                }
                p{
                    width: 250px;
                    padding-top: 5px;
                    font-weight: 600;
                    margin-bottom: 20px;
                }
                a{
                    color: rgb(255, 255, 255);
                    text-decoration: none;
                    background-color: #B0CC0D;
                    padding: 5px 40px;
                    text-align: center;
                    border-radius: 12px;
                    font-size: 14px;
                    font-weight: 600;
                    margin-top: 50px;
                    margin-left: 30px;
                }
            }
            }
        }

        .p-1{
            padding: 50px;
            color: white;
        }
        .fon{
          background-color: white;
          width: 1100px;
          border-radius: 15px ;
          margin-left: auto;
          margin-right: auto;
          .calc{
            display: flex;
            justify-content: space-between;
            padding: 20px;
            h3{
                font-size: 28px;
            }
            a{
                color: rgb(255, 255, 255);
                text-decoration: none;
                background-color: #FFA800;
                padding: 5px 50px;
                text-align: center;
                border-radius: 20px;
                font-size: 14px;
                font-weight: 600; 
                padding-top: 8px;
            }
          }
            
        }
    }
}

.adv{
    margin-top: 50px;
    h2{
        font-size: 32px;
        text-transform: uppercase;
    }
    .items{
        display: flex;
        justify-content: center;
        gap: 40px;
        margin-top: 30px;
       .item{
        img{
            margin-bottom: 10px;
        }
           .img-1{
            margin-left: 50px;
           }
           .img-2{
            margin-left: 90px;
           }
           .img-3{
            margin-left: 45px;
           }
           .img-4{
            margin-left: 70px;
           }
           .img-5{
            margin-left: 50px;
           }
            p{
                text-align: center;
        }
       }
    }
}

.diet-fon{
    background-color: #B0CC0D;
    margin-top: 60px;
    border-radius: 40px;
    .diet{
        display: flex;
        padding: 40px;
        margin-left: 40px;
        .info{
            h2{
                font-size: 40px;
                color: white;
                text-transform: uppercase;
            }
            p{
                color: white;
                font-size: 18px;
                width: 400px;
                margin-bottom: 40px;
            }
            a{
                color: rgb(255, 255, 255);
                text-decoration: none;
                background-color: #FFA800;
                padding: 10px 50px;
                text-align: center;
                border-radius: 30px;
                font-size: 16px;
                font-weight: 600; 
                padding-top: 10px;  
            }
        }
        img{
            margin-left: 20px;
            margin-top: -80px;
            width: 700px;
        }
    }
}

.faq{
   margin-top: 50px; 
   .items{
    display: flex;
    gap: 40px;
    margin-top: 10px;
    div{
        background-color: #F4F4F4;
        width: 180px;
        height: 160px;
        border-radius: 25px;
    }
    img{
        padding: 30px 59px;
    }
    p{
        text-align: center;
    }
    .p-1{
        margin-top: -10px;
    }
    
   }
}

.form{
    display: flex;
    margin-top: 60px;
}